<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=D:\\RespectfulCrawler\\crawler.db;" />
	</connectionStrings>
	
	<appSettings>
		<add key="log_file" value="crawler.log"/>
	</appSettings>
</configuration>